pkg/dblp-0.4.4.gem
pkg/dblp-0.4.4.tgz
pkg/dblp-0.4.4/History.txt
pkg/dblp-0.4.4/License.txt
pkg/dblp-0.4.4/Manifest.txt
pkg/dblp-0.4.4/PostInstall.txt
pkg/dblp-0.4.4/README.txt
pkg/dblp-0.4.4/Rakefile
pkg/dblp-0.4.4/bin/dblp
pkg/dblp-0.4.4/config/hoe.rb
pkg/dblp-0.4.4/config/requirements.rb
pkg/dblp-0.4.4/lib/dblp.rb
pkg/dblp-0.4.4/lib/dblp/grabber.rb
pkg/dblp-0.4.4/lib/dblp/parser.rb
pkg/dblp-0.4.4/lib/dblp/version.rb
pkg/dblp-0.4.4/setup.rb
pkg/dblp-0.4.4/tasks/deployment.rake
pkg/dblp-0.4.4/tasks/environment.rake
pkg/dblp-0.4.4/tasks/website.rake
pkg/dblp-0.4.4/test/test.aux
pkg/dblp-0.4.4/test/test_dblp.rb
pkg/dblp-0.4.4/test/test_helper.rb
test/report/dblp.bib
test/report/test.aux
test/report/test.bbl
test/report/test.blg
test/report/test.log
test/report/test.pdf
test/report/test.tex
test/report/texput.log
pkg/dblp-0.4.5.gem
pkg/dblp-0.4.5/History.txt
pkg/dblp-0.4.5/License.txt
pkg/dblp-0.4.5/Manifest.txt
pkg/dblp-0.4.5/PostInstall.txt
pkg/dblp-0.4.5/README.txt
pkg/dblp-0.4.5/Rakefile
pkg/dblp-0.4.5/bin/dblp
pkg/dblp-0.4.5/config/hoe.rb
pkg/dblp-0.4.5/config/requirements.rb
pkg/dblp-0.4.5/lib/dblp.rb
pkg/dblp-0.4.5/lib/dblp/grabber.rb
pkg/dblp-0.4.5/lib/dblp/parser.rb
pkg/dblp-0.4.5/lib/dblp/version.rb
pkg/dblp-0.4.5/setup.rb
pkg/dblp-0.4.5/tasks/deployment.rake
pkg/dblp-0.4.5/tasks/environment.rake
pkg/dblp-0.4.5/tasks/website.rake
pkg/dblp-0.4.5/test/test.aux
pkg/dblp-0.4.5/test/test_dblp.rb
pkg/dblp-0.4.5/test/test_helper.rb